*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.backgound-riga-1{
    background: rgb(49, 94, 218);
}
.backgound-riga-2{
    background-color: blue;
    background-image: url(discord-assets/img/jumbo.png);
    background-size: cover;
}
.backgound-color-gray{
    background-color: rgb(242, 243, 231);
}
.backgound-color-yellow{
    background-color: rgb(255, 246, 122);
}
.backgound-color-black{
    background-color: black;
}
.flex-container{
    display: flex;  
    height: 50px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.logo-1{
    color: white;
    width: 25%;
    height: 30px;
    padding: 5px;
    background-color: rgb(49, 94, 218);
    background-image: url(discord-assets/img/logo.svg);
    background-repeat: no-repeat;
}
.link{
    width: 50%;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: rgb(49, 94, 218);
}
.p-link{
    padding: 15px;
    font-weight: bold;
}
.login{
    color: black;
    width: 25%;
    border-radius: 10px;
    text-align: right;
    padding: 5px;
    background-color: rgb(49, 94, 218);
}
.bottone{
    border-radius: 15px;
    height: 30px;
    width: 65px;
    border-color: white;
    background-color: white;
    border-style: none;
}
.container-riga-2{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}.titolo-bianco{
    color: white;
    font-size: 50px;
    text-align: center;
}
.container-bottoni{
    display: flex;
    justify-content: space-around;
}
.bottone-bianco{
   height: 100%;
   border-radius: 60px;
   background-position: center;
   text-align: left;
   padding: 15px;
   font-weight: bold;
}
.bottone-nero{
    color: white;
    height: 100%;
   width: 40%;
   border-radius: 60px;
   padding: 15px;
   font-weight: bold;
   background-color: black;
   text-align: center;
}
.container-bottone-bianco{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 5%;
    display: flex;
    border-radius: 20px;
}
.imagine{

    padding: 10px;
    align-items: end;
    display: flex;
    width: 17%;
    height: 100%;
}
.testo-bianco{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    margin: 30px;
    line-height: 30px;
}
.titolo-nero{
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: left;
}
.testo-nero{
    text-align: left;
    font-weight: bold;
    padding-top: 30px;
}

.container-riga-3{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.container-riga-4{
    width: 70%;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container-riga2{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-riga-5{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-riga-6{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}
.contenitore-testo{
    width: 50%;
    height: 70%;
}
.testo-grande{
    width: 50%;
    height: 20%;
}
.titolo-grande{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.titolo-nero2{
    color: black;
    padding: 30px;
    font-size: 35px;
    text-align: center;
}
.contenuto-grande{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    line-height: 20px;
    
}
.contenitore-immagine{
    width: 35%;
    height: 90%;
   background-image: url(discord-assets/img/item1.svg);
   background-size: cover;
}
.contenitore-immagine-2{
    width: 35%;
    height: 90%;
   background-image: url(discord-assets/img/item2.svg);
   background-size: cover;
}


.contenitore-testo-1{
    width: 15%;
    height: 85%;
}
.contenitore-testo-2{
    width: 25%;
    height: 85%;
}

.rettangolo-verde{
    width: 80%;
    height: 90%;
    background-image: url(discord-assets/img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.rettangolo-rosso{
    width: 12%;
    height: 85%;

}
.rettangolo-giallo{
    width: 7%;
    height: 85%;;
}
.rettangolo-celeste{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo-2{
    color: rgb(252, 252, 252);
    width: 10%;
    height: 30px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    background-image: url(discord-assets/img/logo.svg);
    background-repeat: no-repeat;
}
.bottone-finale{
    background-color: rgb(4, 116, 116);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: white;
    font-weight: bold;
}
.titolo-fine{
    color: cornflowerblue;
    font-weight: bold;
}
.lingua{
    padding: 2px;
    margin: 10px;
    display: flex;
    height: 30px;
    background-color: black;
}
.testo-lingua{
    padding: 3px;
    color: white;
    text-align: end;
}
.lista{
    list-style: none;
}
.capo-lista{
    color: cornflowerblue;
    padding: 5px;
    font-weight: bold;
}
.oggetto-lista{
    color: white;
    padding: 5px;
    font-weight: bold;
}
.riga-fine{
    width: 70%;
    margin: 0 auto;
}